*{
  margin: 0;
  padding: 0;
}

#root{
  background-color: rgb(255, 255, 255);
}

#myscreen{
  visibility: hidden;
}


#remscreen{
  background-color: rgb(113, 93, 242);


  top: 0px;
  /* bottom: 0px; */
  left: 0px;
  /* right: 0px; */
  width: 100%;
  /* height: 100%; */
    /* cursor: url("./cursor.png") 24 24, auto; */

}