*{
  margin: 0;
  padding: 0;
}

#root{
  background-color: rgb(47, 47, 47);
}

#myscreen{
  visibility: hidden;
}

body{
  background-color: rgb(47, 47, 47);
}


::-webkit-scrollbar {
  display: none;
}

#remscreen{
  background-color: rgb(113, 93, 242);


  top: 0px;
  /* bottom: 0px; */
  left: 0px;
  /* right: 0px; */
  width: 100%;
  height: auto;
    /* cursor: url("./cursor.png") 24 24, auto; */

}

#root {
  background-color: rgb(43 178 227 / 0%);
}